
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/Fot.WebApp/node_modules/
/Fot.WebApp/.vscode/
/Fot.WebApp/wwwroot/bundle/
/Fot.WebApp/wwwroot/bundle/
/Fot.WebApp/.idea
/Fot.WebApp/wwwroot/vendor/
